@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    font-family: "Inter", sans-serif;
  }
  h1,
  h2,
  h3 {
    font-family: "Poppins", sans-serif;
  }
  select {
    background: transparent !important;
  }
}
